/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  color: #fff;
  font-family: Arial, sans-serif;
  background-color: #1e2021;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.green {
    color: #a0db8e;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #a0db8e;
  margin-bottom: 1em;
}

li {
  list-style: none;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #a0db8e;
  text-decoration: none;
  cursor: pointer;
}

/* Header styles */

header {
  background-color: #333;
  min-height: 5vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

header a {
  padding: 1.5vw;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

/* Hero section styles */
#hero {
  background-color: #1e2021;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.hero-text {
  margin-right: 2em;
}

#hero img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid #333333;
}

/* About section styles */
#about {
  background-color: #181a1b;
  justify-content: center;
}

#about p {
  opacity: .8;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  min-height: 40vh;
  flex-direction: column;
  max-width: 1000px;
}

/* Project section styles */
#projects {
  background-color: #181a1b;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  padding-top: 2em;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#projects p {
  margin-bottom: 3em;
}

.project-img {
  border: 1px solid white;
  height: 12vh;
  margin: 1em 0;
}

/* Button styles */

.button-div {
  display: flex;
  justify-content: center;
  background-color: #181a1b;
  min-height: 20vh;
}

button {
  background: transparent;
  font-size: 5rem;
  border: none;
  color: #fff;
}

button:hover {
  color: #a0db8e;
}

/* Footer styles */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  text-align: center;
  margin-top: auto;
  min-height: 5vh;
}

.source-link {
  text-decoration: underline;
}
.source-link:hover {
  color: #a0db8e;
}

/* Contact section styles */
#contact {
  background-color: #181a1b;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact a {
  font-size: 1.5rem;
}

#contact span {
  padding-left: 1.5em;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
}

@media screen and (max-width: 715px) {
  #hero {
    margin-top: 2em;
    flex-direction: column;
  }

  #hero img {
    margin-bottom: 2em;
  }

  .hero-text {
    margin-right: 0;
  }

  #about {
    padding-top: 2em;
  }

  h1 {
    text-align: center;
    margin-bottom: 1em;
  }
}